:root {
  --Slate_300: #d6e2f0;
  --Slate_500: #68778d;
  --Slate_900: #1f3251;
  --background_color: #d6e2f0;
}

* {
  font-family: "Outfit", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--background_color);
}

#qr-container {
  width: 375px;
  height: 550px;
  background-color: #fff;
  border-radius: 20px;
  margin: 7rem auto 2rem auto;
  overflow: hidden;
}

.qr-code-img {
  text-align: center;
  padding: 1rem;
}

.qr-code-img img {
  width: 100%;
  height: auto;
  border-radius: 15px;
}

h2 {
  text-align: center;
  padding: 0 1.3rem;
  color: var(--Slate_900);
}

p {
  font-size: 15px;
  text-align: center;
  color: var(--Slate_500);
  padding: 1rem 3rem;
}

@media screen and (max-width: 480px) {
  #qr-container {
    margin-top: 2rem;
  }
}

@media screen and (max-width: 320px) {
  #qr-container {
    width: 300px;
    height: 500px;
  }
}

@media screen and (max-width: 280px) {
  #qr-container {
    width: 240px;
    height: 500px;
  }
}
